<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Cytos_v2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="validateUsingXSD" value="false"/>
    <add key="XSDPath" value="../../Examples/MSystemXMLSchema.xsd"/>
    <add key="serializeFloatningObjects" value="false"/>
  </appSettings>
  <userSettings>
    <Cytos_v2.Properties.Settings>
      <setting name="MainLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MainSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="LogLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="LogSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </Cytos_v2.Properties.Settings>
  </userSettings>
</configuration>
